development:
  aws:
    access_key_id: some_aws_iam_access_key_id
    secret_access_key: some_aws_iam_secret_access_key
    region: eu-west-1
  daemon:
    app_name: this_daemon_name
    daemons_count: 1
    backtrace: true
    dir_mode: normal
    dir: /tmp
    log:
      logger: file
      log_file: /tmp/some_log_file.log
      shift_age: 1
    monitor: false
  pantry:
    api_key: some_pantry_api_key
    request_timeout: 10
    url: http://pantry.example.com
  sqs:
    queue_name: daemon_specific_queue
  sns:
    topic_arn: daemon_specific_topic_arn
    error_arn: daemon_specific_error_arn
  retries: 5
  retry_delay: 1
  shutdown_schedule: daily
test:
  aws:
    access_key_id: some_aws_iam_access_key_id
    secret_access_key: some_aws_iam_secret_access_key
    region: eu-west-1
  daemon:
    daemons_count: 1
    app_name: this_daemon_name
    backtrace: true
    dir_mode: system
    dir: /var/run
    monitor: true
  pantry:
    api_key: some_pantry_api_key
    request_timeout: 10
    url: http://pantry.example.com
  sqs:
    queue_name: daemon_specific_queue
  sns:
    topic_arn: daemon_specific_topic_arn
    error_arn: daemon_specific_error_arn
  retries: 5
  retry_delay: 1
  shutdown_schedule: daily
production:
  aws:
    access_key_id: some_aws_iam_access_key_id
    secret_access_key: some_aws_iam_secret_access_key
    region: eu-west-1
  daemon:
    app_name: this_daemon_name
    daemons_count: 10
    backtrace: false
    dir_mode: system 
    dir: /var/run
    monitor: true
  pantry:
    api_key: some_pantry_api_key
    request_timeout: 10
    url: http://pantry.example.com
  sqs:
    queue_name: daemon_specific_queue
  sns:
    topic_arn: daemon_specific_topic_arn
    error_arn: daemon_specific_error_arn
  retries: 5
  retry_delay: 1
  shutdown_schedule: daily
